NODE_ENV=<placeholder>

APPLICATION_PORT=<placeholder>
APPLICATION_URL=<placeholder>
ALLOWED_ORIGIN=<placeholder>

COOKIES_SECRET=<placeholder>
SESSION_SECRET=<placeholder>
SESSION_NAME=<placeholder>
SESSION_DOMAIN=<placeholder>
SESSION_MAX_AGE=<placeholder>
SESSION_HTTP_ONLY=<placeholder>
SESSION_SECURE=<placeholder>
SESSION_FOLDER=<placeholder>

POSTGRES_USER=<placeholder>
POSTGRES_PASSWORD=<placeholder>
POSTGRES_HOST=<placeholder>
POSTGRES_PORT=<placeholder>
POSTGRES_DB=<placeholder>
POSTGRES_URI=<placeholder>

REDIS_USER=<placeholder>
REDIS_PASSWORD=<placeholder>
REDIS_HOST=<placeholder>
REDIS_PORT=<placeholder>
REDIS_URI=<placeholder>

MAIL_HOST=<placeholder>
MAIL_PORT=<placeholder>
MAIL_LOGIN=<placeholder>
MAIL_PASSWORD=<placeholder>

COOKIE_SECRET=<placeholder>
FRONTEND_URL=<placeholder>

GOOGLE_RECAPTCHA_SECRET_KEY=<placeholder>
# 6LdkF10sAAAAAPCYr__-9Ruy3dJZyhRDQHG_flGu

GOOGLE_CLIENT_ID=<placeholder>
GOOGLE_CLIENT_SECRET=<placeholder>
# f8767de5c716d8bafdb26ab99a114c9d

TWELVE_DATA_API_KEY=<placeholder>
