@import 'tailwindcss';
@import '@nuxt/ui';

body {
	background: #fcfafa;
}

:root {
  --ui-primary: black;
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
}

.container {
	@apply mx-auto max-w-[1440px] px-4 sm:px-6 lg:px-8;
}

.gradient-background {
	background: #cf3030;
	background: linear-gradient(25deg,rgba(207, 48, 48, 0.75) 1%, rgba(253, 171, 29, 1) 51%, rgba(255, 201, 201, 1) 100%);
}
